.about{
  width: 50%;
  float: right;
}

.about1{
  width: 50%;

}
.text3{
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  color:darkblue;
  margin-left: 10%;
}

.text4{
 
}
.text5{
  margin-top: 1%;

}

.slide{
  width: 50%;
  height: 50%;
  margin-left: 25%;
}