.navbar{
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    background: #fff;

}

.menu{
    list-style-type: none;
    font-size: 20px;
    margin-top: 10px;
    font-weight: 1000;
}

.menu li{
    display: inline;
    margin-right: 20px;

}
.active__link{
    color: coral;
}

.title1{
    margin-left: 6%;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

