.title{
    text-align: center;
}

.sub_title{
    padding: 20px 0px 0px 10px;
   font-size: 3rem;
   font-weight: bold;

}


.btn2{
    border: none;
    background:cornsilk;
    border-radius: 100px;
    size: 100px;
    box-shadow: 0px 2px 2px 2px rgb(85, 83, 83); 
    min-width: 150px;
    min-height: 50px;
    color:rgb(241, 68, 5);
    margin-top: 10px;
    margin-left: 40%;

    
 }
 .btn2:hover{
    background: rgb(245, 193, 7);
    cursor: pointer;
    color: white;
 }

 .card-body
 {
    margin-left: 10%;
    margin-right: 10%;
 }